<h3>Welcome to Sinatra!</h3>
<form action = "/submit" method = "POST">
  <input type = "text" name = "friends[name]" value = "Enter Model Name" />
  <input type = "submit" value = "Submit" />
</form>

<h3>Name Stored on Database</h3>
<form action = "/retrieve" method = "post">
  number.each do ||
</form>